@font-face {
  font-family: 'Trench';
  font-weight: 400;
  src: url('./assets/trench100free.otf');
}

:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'montserrat';
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  font-family: 'Trench';
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,45,140,0.8148148148148149) 18%, rgba(0,212,255,1) 69%);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem 0;
  font-size: 1.7rem;
  & > img {
    max-height: 3rem;
    margin-right: 0.2rem;
    margin-bottom: .5rem;
  }
}
#demotext {
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9), 17px 27px 3px rgba(45,178,196,0.55);
  color: #3C67D6;
  background: #0C0A30;
  border-radius:10px;
  border: none
}

.titulo{
  display:flex;
  flex-direction: column;
  align-items: center;
  background: #4AB2CE;
  background: -moz-linear-gradient(left, #4AB2CE 0%, #1C6EA4 50%, #2C2869 100%);
  background: -webkit-linear-gradient(left, #4AB2CE 0%, #1C6EA4 50%, #2C2869 100%);
  background: linear-gradient(to right, #4AB2CE 0%, #1C6EA4 50%, #2C2869 100%);
}

}

#texto{
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  flex-grow: 1;
}

#mensagens {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 75%;
  background-color: #eaeaea;
  flex-grow: 1;
  width: 100%;
  font-size: 2rem;
}

.mensagem {
  background-color: #040e29;
  color: #fff;
  width: 85%;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
}

#mensagens > .mensagem:last-of-type {
  background-color: #0b266f;
}

#envio-mensagens {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  max-height: 3rem;
  & > input {
    flex-grow: 1;
    padding: 0.5rem 0.3rem;
  }
  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #040e29;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    margin-left: 0.5rem;
    &:hover {
      background-color: #0b266f;
    }
  }
}

@media (max-width: 500px) {
  main {
    width: 90%;
  }
}
